
/*	
	1. font-face
	2. Header
		2.1 Titulo
		2.2 Menu
	3. Body
		3.1 Contenedores
		3.2 Img adaptativa
	4. footer
	5.  keyframes 
	6.  Adatable Contenedor movil
*/

/* 1.font-face */

/*@font-face {
	font-family: FuenteLato;
	src: url(../fuentes/Lato-Regular.ttf);
}*/

body {
	padding: 0px;
	background-color: #02010a;
}

#contenido_padre{
	margin: 0px 200px 0px 200px;
	max-width: 900px;
}

/* 2.1 Titulo */
#encabezado{
	background-color:#5b7989; 
	border-radius: 10px 10px 0px 0px;
	height: 93px;
	/*width: 100%;*/
	font-family: 'Dancing Script', serif;
}

header .titulo{
	width: 50%;
	height: auto;
	float: left;
}

header .titulo > h1{
	text-align: center;
	color: white;	
	text-shadow: 2px 3px 20px white, 0 0 2px #02010a;
	font-size: 25px;
}


/* 2.2 Menu */
#menu-principal {
	//width: 30%;
	padding: 0;
	margin: 0;
	/*background-color: #333;*/
	list-style: none;
	float: right;
}

#menu-principal ul {
	list-style-type: none;
	/*float: right;
	width: 30%;*/
	padding: 0;
	margin: 0;
	/*background-color: #333;*/
	list-style: none;
}

#menu-principal ul li {
	padding: 10px;
	list-style-type: none;
	display: inline-block;
}

#menu-principal li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
	font-size: 25px;
}

#menu-principal li a:hover {
    background-color: #3DB8A7;
}

/* 3. Body */

/* 3.1 Contenedores*/
#seccion1 {
	background-color: #669999;
}

#seccion2 {
	background-color: #F7D988;
}

.contenedor {
	display: flex;
	flex-direction: row;
}

.contenedor1 {
	display: flex;
	flex-direction: row;
}

#contenido {
	display: flex;
	flex-direction: column;
}

#seccion1 .contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: #82c3a6; 
	width: 100%;
}

#seccion2 .contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: #d5c75f;
	width: 50%;
}

/* 3.2 Img adaptativa */
.adaptativa-porcentaje-1{
	border: 2px solid white;
	width:50%;	
}

.adaptativa-porcentaje-2{
	border: 2px solid white;
	width:48%;
}

.adaptativa-porcentaje-2:hover{	
	animation-name: imagen1-animacion;
	animation-duration: 2s;
}

.adaptativa-porcentaje-3{
	border: 2px solid white;
	width:53%;
}

.adaptativa-porcentaje-3:hover{	
	animation-name: imagen2-animacion;
	animation-duration: 2s;
}

	header{	
	animation-name: animacion-header;
	animation-duration: 2s;
}


/* Paisajes */
/* Contenedores */

.contenedor2 {
	display: flex;
	flex-direction: row;
}

#contenido2 {
	display: flex;
	flex-direction: column;
}

#seccion3 {
	background-color: #ffedbe;
}

#seccion3 .contenedor2 > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: #fbe083;
	width: 33.3%;
}

.adaptativa-porcentaje-2_1, .adaptativa-porcentaje-2_2, .adaptativa-porcentaje-2_3, .adaptativa-porcentaje-2_4, .adaptativa-porcentaje-2_5, .adaptativa-porcentaje-2_6 {
		width:74%;
	}
	
	.adaptativa-porcentaje-2_1{	
		-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
		filter: blur(5px);
	}
	
	.adaptativa-porcentaje-2_2, .adaptativa-porcentaje-2_4, .adaptativa-porcentaje-2_6{
		-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
		filter: grayscale(100%);
	}

	.adaptativa-porcentaje-2_3{
		-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
		filter: sepia(90%);
	}
	
.adaptativa-porcentaje-3_1, .adaptativa-porcentaje-3_2, .adaptativa-porcentaje-3_3, .adaptativa-porcentaje-3_4, .adaptativa-porcentaje-3_5, .adaptativa-porcentaje-3_6 {
		width:80%;
	}	
	
	.adaptativa-porcentaje-3_1{	
		-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
		filter: blur(5px);
	}
	
	.adaptativa-porcentaje-3_2, .adaptativa-porcentaje-3_4, .adaptativa-porcentaje-3_6{
		-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
		filter: grayscale(100%);
	}

	.adaptativa-porcentaje-3_3{
		-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
		filter: sepia(90%);
	}

/* 4. footer */

footer {
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
}

#seccion_footer1 .contenedor1 > div {
	text-align: center;
	padding: 5px;
	margin: 2px 0px 15px 0px;
	/*background-color: #82c3a6;*/
	width: 25%;
}

#seccion_footer1 .contenedor1 > div > h1{
	font-family: 'Dancing Script', serif;
	font-size: 32px;
}

#seccion_footer1 .contenedor1 > div > ul.LstFooter{
	list-style-type: none;
	font-family: 'Dancing Script', serif;
	font-size: 12px;
	text-align: left;
	margin: 0px;	
}

#seccion_footer1 .contenedor1 > div > ul li {
	padding: 0 5px;
	display: inline-block;
}

#seccion_footer1 .contenedor1 > div > ul li > h3{
	padding: 0px;
	margin: 0px;
}

#seccion_footer1 .contenedor1 > div > ul li a:link { 
		text-decoration:none; 		
		color: black;
	   }

.adaptativa-porcentaje-ico-1{
	margin:5px 0px -9px 6px;
	border: 2px solid white;
	width:10%;	
}

/* 5. keyframes */

@keyframes
imagen1-animacion {
	from {
		transform: rotate(0deg);
		box-shadow: 0px 0px 0px #82c3a6;
	}
	to {
		transform: rotate(10deg);
		
		-webkit-box-shadow: 2px 2px 2px #82c3a6;
		-moz-box-shadow: 2px 2px 2px #82c3a6;
		box-shadow: 2px 2px 2px #82c3a6;
	}
}

@keyframes
imagen2-animacion {
	0% {
		position: relative;
		left: 0px		
	}
	10% {
		position: relative;
		left: 10px;
		-webkit-box-shadow: 2px 2px 2px #82c3a6;
		-moz-box-shadow: 2px 2px 2px #82c3a6;
		box-shadow: 2px 2px 2px #82c3a6;
	}
	20% {
		position: relative;
		left: 20px;
	}
	30% {
		position: relative;
		left: 30px;
		-webkit-box-shadow: 2px 2px 2px #82c3a6;
		-moz-box-shadow: 2px 2px 2px #82c3a6;
		box-shadow: 2px 2px 2px #82c3a6;
	}
	50% {
		position: relative;
		top: -5px;
	}
	80% {
		position: relative;
		top: -10px;
		-webkit-box-shadow: 2px 2px 2px #82c3a6;
		-moz-box-shadow: 2px 2px 2px #82c3a6;
		box-shadow: 2px 2px 2px #82c3a6;
	}
	100% {
		position: relative;
		left: 0px;
		-webkit-box-shadow: 0px 0px 0px #82c3a6;
		-moz-box-shadow: 0px 0px 0px #82c3a6;
		box-shadow: 0px 0px 0px #82c3a6;
	}
}

@keyframes
imagen-paisaje1 {
	from {
		-webkit-filter: blur(0px); /* Chrome, Safari, Opera */
		filter: blur(0px);
	}
	to {
		-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
		filter: blur(5px);
	}
}

@keyframes
imagen-paisaje2 {
	from {
		-webkit-filter: blur(0px); /* Chrome, Safari, Opera */
		filter: blur(0px);
	}
	to {
		-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
		filter: blur(5px);
	}
}

@keyframes
animacion-header {
	0% {
		margin-top:150%;
	}
	60% {
		margin-top:-5%;
	}
	100% {
		margin-top:0%;
	}
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    #contenido_padre{
		margin: 0px;
		max-width: 100%;
	}
  
	header .titulo{
		width: 50%;
	}

	/* 2.2 Menu */
	#menu-principal {
		width: 50%;
	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	
	#contenido_padre{
		margin: 0px;
		max-width: 100%;
	}
	
	header .titulo{
		width: 50%;
	}

	/* 2.2 Menu */
	#menu-principal {
		width: 50%;
	}
	
	.adaptativa-porcentaje-ico-1{
		width:15%;
	}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	  
	#contenido_padre{
		margin: 0px;
		max-width: 100%;
	}
  
	#encabezado {
		height: 122px;
	}
  
	header .titulo{
		width: 50%;
		margin-top: 10px;
	}

	
	header .titulo > h1{
		font-size: 22px;
	}
	
	/* 2.2 Menu */
	#menu-principal {
		width: 50%;
	}
  
	/*#menu-principal li a {
		padding: 24px 8px;
		font-size: 20px;
	}*/
	
	#menu-principal li a {
		padding: 18px 0px;
		font-size: 20px;		
	}
	
	.contenedor1 {
		display: flex;
		flex-direction: column;
	}
	
	.adaptativa-porcentaje-ico-1{
		width:5%;
	}
	
	/* Paisajes*/
	/*.contenedor2 {
		display: flex;
		flex-direction: column;
	}*/
	
	#seccion3 .contenedor2 > div {
		text-align: center;
		padding: 10px;
		margin: 10px;
		background-color: #fbe083;
		width: 90%;
	}
	
	.adaptativa-porcentaje-2_1, .adaptativa-porcentaje-2_2, .adaptativa-porcentaje-2_3, .adaptativa-porcentaje-2_4, .adaptativa-porcentaje-2_5, .adaptativa-porcentaje-2_6{
		width:90%;
	}
	
	/*footer*/
	#seccion_footer1 .contenedor1 > div {
		text-align: center;
		padding: 10px 20px;
		margin: 10px;
		width: 90%;
	}
	
	#seccion_footer1 .contenedor1 > div > ul.LstFooter {
		font-size: 15px;
		margin-left: 100px;
	}
	
	#seccion_footer1 .contenedor1 > div {
		padding: 0px;
	}

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/* 6.  Contenedor movil */
@media (min-width: 320px) and (max-width: 480px) {

	#contenido_padre{
		margin: 0px;
		max-width: 100%;
	}

	#encabezado {
		height: 205px;
	}
	
	
	header .titulo{
		width: 100%;
		height: auto;
	}

	/* 2.2 Menu */
	#menu-principal {
		width: 100%;
		padding: 0;
		margin: 0;
		background-color: #5b7989;
		border-top: solid 1px white;
	}
	
	#menu-principal ul {
		//width: 200px;
		padding: 0;
		margin: 0;
		/*background-color: #333;*/
	}
	
	#menu-principal ul li {
		padding: 2px;
		width: 100%;
		margin-left: solid 1px white;
	}
	
	#menu-principal li {
		text-align: left;
		border-bottom: 1px solid #555;
	}


	#menu-principal li a {
		padding: 4px 6px;
		font-size: 25px;		
	}

	li a:hover {
		background-color: #555;
		color: white;
	}


	.contenedor {
		display: flex;
		flex-direction: column;
	}
	
	#seccion1 {
		background-color: #F7D988;
	}
	
	#seccion1 .contenedor > div {
		text-align: center;
		padding: 10px;
		margin: 10px;
		width: 90%;
		background-color: #d5c75f;
	}
	
	#seccion2 .contenedor > div {
		text-align: center;
		padding: 10px;
		margin: 10px;
		width: 90%;
	}
	
	/* 3.2 Img adaptativa */
	.adaptativa-porcentaje-1{
		width:70%;
	}

	.adaptativa-porcentaje-2{
		width:50%;
	}

	.adaptativa-porcentaje-3{
		width:55%;
	}
	
	.contenedor1 {
		display: flex;
		flex-direction: column;
	}

	/* Paisajes*/
	.contenedor2 {
		display: flex;
		flex-direction: column;
	}
	
	#seccion3 .contenedor2 > div {
		text-align: center;
		padding: 10px;
		margin: 10px;
		background-color: #fbe083;
		width: 90%;
	}	

	.adaptativa-porcentaje-2_1, .adaptativa-porcentaje-2_2, .adaptativa-porcentaje-2_3, .adaptativa-porcentaje-2_4, .adaptativa-porcentaje-2_5, .adaptativa-porcentaje-2_6{
		width:80%;
	}
	
	/*footer*/
	#seccion_footer1 .contenedor1 > div {
		text-align: center;
		padding: 10px;
		margin: 10px;
		/*background-color: #82c3a6;*/
		width: 90%;
	}
	
}